@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  color:rgb(83, 83, 83);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(22, 26, 53), rgba(0, 13, 196, 0.411, 0.719));
}

a:hover {
  color:rgb(143, 143, 143);
  transition: color 0.5s ease-in-out;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.title-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.719)), url("https://source.unsplash.com/random");
  height: 500px;
  background-size: cover;
}

.title-card > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.7em;
  font-weight: bolder;
  padding-top: 4em;
  margin: 0 auto;
  color: rgb(250, 250, 250);
}

.title-card > h2 {
  font-family: 'Antic Slab', serif;
  padding-top: 2em;
  margin: 0 auto;
  color: rgb(250, 250, 250);
}

.content-card {
  color:rgb(83, 83, 83);
  font-family: 'Antic Slab', serif;
  font-size: 1.15em;
  margin: 1.5em;
  line-height: 2em;
  text-align: left;
}

.content-card > h2 {
  color:rgb(143, 143, 143);
  font-family: 'Raleway', sans-serif;
  padding-bottom: 1em;
}

blockquote {
  color: rgb(83, 83, 83);
  font-weight: bold;
  margin: 0 auto;
  padding: 1em;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
